version: '2'

services:

  zookeeper:

    image: confluentinc/cp-zookeeper:5.5.4

    hostname: zookeeper

    container_name: zookeeper

    restart: always

    ports:

      - 2181:2181

    volumes:

      - zookeeper-data:/var/lib/zookeeper/data:Z

      - zookeeper-log:/var/lib/zookeeper/log:Z

    environment:

      ZOOKEEPER_CLIENT_PORT: '2181'

      ZOOKEEPER_TICK_TIME: '2000'

      ZOOKEEPER_ADMIN_ENABLE_SERVER: 'false'



  kafka:

    image: confluentinc/cp-kafka:5.5.4

    hostname: kafka

    restart: always

    container_name: kafka

    depends_on:

      - zookeeper

    ports:

      - 29092:29092

      - 9092:9092

      - 9101:9101

    volumes:

      - kafka-data:/var/lib/kafka/data:Z

    environment:

      KAFKA_BROKER_ID: 1

      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'PLAINTEXT:PLAINTEXT, EXTERNAL:PLAINTEXT'

      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9090, EXTERNAL://localhost:9092'

      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

      KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE: 'false'

      KAFKA_JMX_PORT: 9101

      KAFKA_JMX_HOSTNAME: localhost

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'



  schema-registry:

    image: confluentinc/cp-schema-registry:5.5.4

    hostname: schema-registry

    restart: always

    container_name: schema-registry

    depends_on:

      - kafka

    ports:

      - 8082:8081

    environment:

      SCHEMA_REGISTRY_HOST_NAME: schema-registry

      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:9090'

      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081



  akhq:

    image: tchiotludo/akhq

    environment:

      AKHQ_CONFIGURATION: |

        akhq:

          connections:

            docker-kafka-server:

              properties:

                bootstrap.servers: "kafka:9090"

              schema-registry:

                url: http://schema-registry:8081

              connect:

                - name: "connect"

                  url: http://connect:8083

    ports:

      - 8083:8080

    links:

      - kafka

      - schema-registry



  connect:

    image: confluentinc/cp-kafka-connect:5.5.4

    hostname: connect

    container_name: connect

    depends_on:

      - kafka

      - schema-registry

    environment:

      CONNECT_BOOTSTRAP_SERVERS: 'kafka:9090'

      CONNECT_REST_PORT: '8083'

      CONNECT_REST_LISTENERS: 'http://0.0.0.0:8083'

      CONNECT_REST_ADVERTISED_HOST_NAME: 'connect'

      CONNECT_CONFIG_STORAGE_TOPIC: '__connect-config'

      CONNECT_OFFSET_STORAGE_TOPIC: '__connect-offsets'

      CONNECT_STATUS_STORAGE_TOPIC: '__connect-status'

      CONNECT_GROUP_ID: 'kafka-connect'

      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: 'true'

      CONNECT_KEY_CONVERTER: 'io.confluent.connect.avro.AvroConverter'

      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'

      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: 'true'

      CONNECT_VALUE_CONVERTER: 'io.confluent.connect.avro.AvroConverter'

      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'

      CONNECT_INTERNAL_KEY_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'

      CONNECT_INTERNAL_VALUE_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'

      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: '1'

      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: '1'

      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: '1'

      CONNECT_PLUGIN_PATH: ' /usr/share/java/'



volumes:

  zookeeper-data:

    driver: local

  zookeeper-log:

    driver: local

  kafka-data:

    driver: local

---



version: '2'
services:
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: dbpass